.table--normal{
    margin-left: 25%;
    width: 50%;
}

.thOneThirds--normal{
    width: 33.33%;
}

.tdAlignCenter--normal{
    text-align: center;
}

.td--lineThrough{
    text-decoration: line-through;
}